.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

header {
    margin-top: 1%;
    margin-bottom: 1%;
}

.shirt {
    height: 364px;
}

.img-responsive {
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .col-lg-2 {
        width: 20%;
    }
}